<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vue App-List</title>
  <link rel="shortcut icon" href="assets/images/faviconVue.ico" type="image/x-icon">

  <link rel="stylesheet" href="assets/css/style.css">
  <link rel="stylesheet" href="assets/css/productos.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tw-elements/dist/css/index.min.css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://cdn.jsdelivr.net/npm/tw-elements/dist/js/index.min.js"></script>

  <script src="https://kit.fontawesome.com/f209504417.js" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/vue@next"></script>

</head>

<body>

  <header id="header">
    <div class="center">
      <!-- Logo -->
      <div id="logo">
        <a href="maquetado.html">

          <img src="assets/images/logoVue.png" alt="Logotipo" class="app-logo">
          <span id="brand">
            <strong>ue</strong> App-List
          </span>
        </a>
      </div>
      <!-- Menu Nav -->
      <nav id="menu">
        <ul>
          <li><a href="#">Inicio</a></li>
          <li><a href="productos.html">Productos</a></li>
          <li><a href="dashboard.html">Dashboard</a></li>
        </ul>
      </nav>
    </div>
    <!-- Limpiar Flotados  -->
    <div class="cleafix"></div>
  </header>
  <!--slider-->
  <div id="slider" class="slider__small">
    <h1>Listado de Productos de Vue App-List</h1>
  </div>
  <!--Tablas Tailwind-->
  <div id="app" class="container center">

    <div class="flex flex-col pt-10 pb-10">
      <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
          <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
            <table class="min-w-full divide-y divide-gray-200">
              <thead class="bg-gray-50">
                <tr>
                  <th scope="col"
                    class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Producto</th>
                  <th scope="col"
                    class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Titulo</th>
                  <th scope="col"
                    class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Descripcion
                  </th>
                  <th scope="col"
                    class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">precio</th>
                  <th scope="col" class="relative px-6 py-3">
                    <t scope="col" class="relative px-6 py-3">
                      <span class="sr-only">Edit</span>
                  </th>
                </tr>
              </thead>
              <tbody class="bg-white divide-y divide-gray-200">
                <tr v-for="(user, index) in users">
                  <td class="px-6 py-4 whitespace-nowrap">
                    <div class="flex items-center">
                      <div class="flex-shrink-0 h-24 w-24">
                        <img class="h-auto w-auto rounded-full" :src="user.ImagePriduct" alt="">
                      </div>

                    </div>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap">
                    <div class="ml-4">
                      <div class="text-sm font-medium text-gray-900">{{ user.TitleProduct  }}</div>

                    </div>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap">
                    <div class="text-sm text-gray-500 " style="position:relative;width:350px; overflow:auto">
                      {{ user.DescriptionProduct  }}</div>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap">
                    <span
                      class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800">$
                      {{user.PriceProduct}}</span>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
                    <button @click="editUser(user.id)"
                      class=" bg-amber-400 hover:bg-amber-500 text-white font-bold py-2 px-4 rounded"
                      data-toggle="modal" data-target="#exampleModal">
                      <a href="#" class="text-white ">Editar <i class="fas fa-pen"></i></a>
                    </button>

                  </td>
                  <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
                    <button @click="deleteUser(user.id, $event)"
                      class="bg-red-600 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">
                      <a href="#" class="text-white ">Eliminar <i class="far fa-trash-alt"></i></a>
                    </button>

                  </td>
                </tr>

                <!-- More people... -->
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modificar Producto</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="card card-body">

            <form ref="userForm" v-on:submit="processUser">
              <div class="form-group">
                <input type="text" ref="name" v-model="user.TitleProduct" class="form-control" placeholder="Titulo"
                  minlength="10" maxlength="50" required />
              </div>
              <div class="form-group">
                <input type="text" v-model="user.DescriptionProduct" class="form-control" placeholder="Descripción"
                  minlength="6" maxlength="20" required />
              </div>
              <div class="form-group">
                <input type="number" v-model="user.PriceProduct" class="form-control" placeholder="000.00"
                  minlength="10" maxlength="50" required />
              </div>
              <div class="form-group">
                <input type="url" v-model="user.ImagePriduct" class="form-control"
                  placeholder="http:\\web.html\image.jpeg" required />
              </div>
              <div class="row ml-1">
                <div class="form-group ml-3 mr-5" style="font-size: 11px;">
                  <input type="submit" class="btn btn-success btn-block text-dark" v-bind:value="operation"
                    style="font-size: 11px;">
                </div>
                <div class="form-group mr-3" style="font-size: 11px;">
                  <input type="reset" class="btn btn-primary btn-block text-dark" value="Limpiar"
                    style="font-size: 11px;">
                </div>
              </div>
            </form>


            <!--
              <form ref="userForm" v-on:submit="processUser">
                  <div class="form-group">
                      <input type="text" ref="name" v-model="user.TitleProduct" class="form-control" placeholder="Titulo"
                          minlength="10" maxlength="50" required />
                  </div>
                  <div class="form-group">
                      <input type="text" v-model="user.DescriptionProduct" class="form-control" placeholder="Descripcion"
                          minlength="6" maxlength="20" required />
                  </div>
                  <div class="form-group">
                      <input type="number" v-model="user.PriceProduct" class="form-control" placeholder="000.00"
                          minlength="10" maxlength="50" required />
                  </div>
                  <div class="form-group">
                      <input type="url" v-model="user.ImagePriduct" class="form-control"
                          placeholder="http:\\web.html\image.jpeg" minlength="10" maxlength="50" required />
                  </div>
                  <div class="form-group">
                      <input type="submit" class="btn btn-success btn-block text-dark" v-bind:value="operation" >
                  </div>
                  <div class="form-group">
                      <input type="reset" class="btn btn-primary btn-block text-dark" value="Cancelar" data-dismiss="modal">
                  </div>
              </form>-->
          </div>

        </div>

      </div>
    </div>
  </div>

  <!-- Limpiar Flotados  -->
  <div class="cleafix"></div>
  <!--footer-->
  <footer id="footer">
    <div class="center">
      <p>Desarrollado por Jesús Arias</p>

    </div>
  </footer>

  <script type="text/javascript">
    var stateObj = { estado: "ok" };
    history.pushState(stateObj, "página 2", "dirección.html");
</script>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>
  <script src="js/users.js"></script>
  <script src="js/vue.js"></script>
</body>

</html>